# E-Commerce Courier Charges Analysis
- Analyzing and Verifying Courier Charges for E-Commerce Deliveries in India

In [1]:
# Import Required Libraries
import pandas as pd
import numpy as np

In [2]:
# Loading data
order_report  = pd.read_excel('Company X - Order Report.xlsx')
pincode_zones = pd.read_excel('Company X - Pincode Zones.xlsx')
SKU_Master    = pd.read_excel('Company X - SKU Master.xlsx')
cc_invoice    = pd.read_excel('Courier Company - Invoice.xlsx')
cc_rates      = pd.read_excel('Courier Company - Rates.xlsx')

In [35]:
#understanding data
print(order_report.shape)
order_report.head(10)

(400, 5)

   ExternOrderNo            SKU  Order Qty Payment Mode  Item Price(Per Qty.)
0     2001827036  8904223818706          1          COD                   233
1     2001827036  8904223819093          1          COD                   233
2     2001827036  8904223819109          1          COD                   233
3     2001827036  8904223818430          1          COD                   470
4     2001827036  8904223819277          1          COD                   233
5     2001827036  GIFTBOX202002          1          COD                   659
6     2001827036  8904223818638          2          COD                   570
7     2001827036     SACHETS001          1          COD                   350
8     2001825261  8904223819024          4      Prepaid                  3636
9     2001825261  8904223819291          4      Prepaid                  3907

In [4]:
#understanding data
print(pincode_zones.shape)
pincode_zones.head()

(124, 3)

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [5]:
#understanding data
print(SKU_Master.shape)
SKU_Master.head()

(66, 2)

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [6]:
#understanding data
print(cc_invoice.shape)
cc_invoice.head()

(124, 8)

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,140.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,101.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [7]:
#understanding data
print(cc_rates.shape)
cc_rates.head()

(5, 6)

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.25,29.5,23.6,13.6,23.6
1,B,0.50,33.0,28.3,20.5,28.3
2,C,0.75,40.1,38.9,31.9,38.9
3,D,1.25,45.4,44.8,41.3,44.8
4,E,1.50,56.6,55.5,50.7,55.5

In [8]:
merged_data = pd.merge(order_report, cc_invoice, left_on='ExternOrderNo', right_on='Order ID')

In [9]:
merged_data.head()

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9
1,2001827036,8904223819093,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9
2,2001827036,8904223819109,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9
3,2001827036,8904223818430,1,COD,470,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9
4,2001827036,8904223819277,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9

In [10]:
merged_data = pd.merge(merged_data, pincode_zones, left_on='Warehouse Pincode', right_on='Warehouse Pincode')

In [11]:
merged_data.head()

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode_x,Zone_x,Type of Shipment,Billing Amount (Rs.),Customer Pincode_y,Zone_y
0,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,507101,d
1,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,486886,d
2,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,532484,d
3,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,143001,b
4,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,515591,d

In [12]:
merged_data = pd.merge(merged_data, pincode_zones, left_on='Customer Pincode_y', right_on='Customer Pincode')

In [13]:
merged_data.head()

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode_x,Zone_x,Type of Shipment,Billing Amount (Rs.),Customer Pincode_y,Zone_y,Warehouse Pincode_y,Customer Pincode,Zone
0,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,507101,d,121003,507101,d
1,2001827036,8904223819093,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,507101,d,121003,507101,d
2,2001827036,8904223819109,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,507101,d,121003,507101,d
3,2001827036,8904223818430,1,COD,470,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,507101,d,121003,507101,d
4,2001827036,8904223819277,1,COD,233,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,507101,d,121003,507101,d

In [14]:
merged_data = pd.merge(merged_data, SKU_Master, left_on='SKU', right_on='SKU')

In [15]:
merged_data.head()

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode_x,Zone_x,Type of Shipment,Billing Amount (Rs.),Customer Pincode_y,Zone_y,Warehouse Pincode_y,Customer Pincode,Zone,Weight (g)
0,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,507101,d,121003,507101,d,127
1,2001821995,8904223818706,1,Prepaid,233,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,507101,d,121003,507101,d,127
2,2001819252,8904223818706,1,Prepaid,233,1091120352712,2001819252,0.30,121003,174101,b,Forward charges,33.0,507101,d,121003,507101,d,127
3,2001816996,8904223818706,1,Prepaid,233,1091119429202,2001816996,0.50,121003,335512,d,Forward charges,45.4,507101,d,121003,507101,d,127
4,2001814580,8904223818706,1,COD,233,1091118925110,2001814580,0.15,121003,322255,d,Forward and RTO charges,94.7,507101,d,121003,507101,d,127

In [18]:
for i in merged_data['Zone_y']:
    if i=="a":
        merged_data['Weight Slabs']=0.25
        merged_data['Forward Fixed Charge']=29.5
        merged_data['Forward Additional Weight Slab Charge']=merged_data['RTO Additional Weight Slab Charge']=23.6
        merged_data['RTO Fixed Charge']=13.6
    elif i=="b":
        merged_data['Weight Slabs']=0.50
        merged_data['Forward Fixed Charge']=33
        merged_data['Forward Additional Weight Slab Charge']=merged_data['RTO Additional Weight Slab Charge']=28.3
        merged_data['RTO Fixed Charge']=20.5
    elif i =="c":
        merged_data['Weight Slabs']=0.75
        merged_data['Forward Fixed Charge']=40.1
        merged_data['Forward Additional Weight Slab Charge']=merged_data['RTO Additional Weight Slab Charge']=28.9
        merged_data['RTO Fixed Charge']=31.9
    elif i=="d":
        merged_data['Weight Slabs']=1.25
        merged_data['Forward Fixed Charge']=45.4
        merged_data['Forward Additional Weight Slab Charge']=merged_data['RTO Additional Weight Slab Charge']=44.8
        merged_data['RTO Fixed Charge']=41.3
    elif i =="e":
        merged_data['Weight Slabs']=1.50
        merged_data['Forward Fixed Charge']=56.6
        merged_data['Forward Additional Weight Slab Charge']=merged_data['RTO Additional Weight Slab Charge']=55.5
        merged_data['RTO Fixed Charge']=50.7

In [19]:
merged_data.head()

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode_x,...,Zone_y,Warehouse Pincode_y,Customer Pincode,Zone,Weight (g),Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Additional Weight Slab Charge,RTO Fixed Charge
0,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.60,121003,173213,...,d,121003,507101,d,127,0.5,33,28.3,28.3,20.5
1,2001821995,8904223818706,1,Prepaid,233,1091121183730,2001821995,0.50,121003,342008,...,d,121003,507101,d,127,0.5,33,28.3,28.3,20.5
2,2001819252,8904223818706,1,Prepaid,233,1091120352712,2001819252,0.30,121003,174101,...,d,121003,507101,d,127,0.5,33,28.3,28.3,20.5
3,2001816996,8904223818706,1,Prepaid,233,1091119429202,2001816996,0.50,121003,335512,...,d,121003,507101,d,127,0.5,33,28.3,28.3,20.5
4,2001814580,8904223818706,1,COD,233,1091118925110,2001814580,0.15,121003,322255,...,d,121003,507101,d,127,0.5,33,28.3,28.3,20.5

In [20]:
merged_data.shape

(69774, 24)

In [21]:
# Calculate total weight
merged_data['Total Weight'] = merged_data['Order Qty'] * (merged_data['Weight (g)'] / 1000)

In [22]:
# Calculate weight slab as per X
merged_data['Weight Slabs'] = merged_data['Total Weight'].apply(lambda x: 0.25 if x <= 0.25 else 0.50 if x <= 0.50 else 0.75 if x <= 0.75 else 1.25 if x <= 1.25 else 1.50)

In [37]:
merged_data

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode_x,...,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Additional Weight Slab Charge,RTO Fixed Charge,Total Weight,Total Weight (Courier Company),Weight Slabs (Courier Company),Expected Charge,Charges Billed,Difference
0,2001827036,8904223818706,1,COD,233,1091122418320,2001827036,1.60,121003,173213,...,33,28.3,28.3,20.5,0.127,1.60,1.50,64.125,117.9,53.775
1,2001821995,8904223818706,1,Prepaid,233,1091121183730,2001821995,0.50,121003,342008,...,33,28.3,28.3,20.5,0.127,0.50,0.50,64.125,45.4,-18.725
2,2001819252,8904223818706,1,Prepaid,233,1091120352712,2001819252,0.30,121003,174101,...,33,28.3,28.3,20.5,0.127,0.30,0.50,64.125,33.0,-31.125
3,2001816996,8904223818706,1,Prepaid,233,1091119429202,2001816996,0.50,121003,335512,...,33,28.3,28.3,20.5,0.127,0.50,0.50,64.125,45.4,-18.725
4,2001814580,8904223818706,1,COD,233,1091118925110,2001814580,0.15,121003,322255,...,33,28.3,28.3,20.5,0.127,0.15,0.25,64.125,94.7,30.575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69769,2001806232,8904223818645,6,COD,1673,1091117222124,2001806232,1.30,121003,507101,...,33,28.3,28.3,20.5,0.822,1.30,1.50,125.425,140.0,14.575
69770,2001806232,8904223818645,6,COD,1673,1091117222124,2001806232,1.30,121003,507101,...,33,28.3,28.3,20.5,0.822,1.30,1.50,125.425,140.0,14.575
69771,2001806232,8904223818645,6,COD,1673,1091117222124,2001806232,1.30,121003,507101,...,33,28.3,28.3,20.5,0.822,1.30,1.50,125.425,140.0,14.575
69772,2001806232,8904223818645,6,COD,1673,1091117222124,2001806232,1.30,121003,507101,...,33,28.3,28.3,20.5,0.822,1.30,1.50,125.425,140.0,14.575
69773,2001806232,8904223818645,6,COD,1673,1091117222124,2001806232,1.30,121003,507101,...,33,28.3,28.3,20.5,0.822,1.30,1.50,125.425,140.0,14.575

In [23]:
# Calculate total weight as per Courier Company
# ... (use Charged Weight from cc_invoice)
merged_data['Total Weight (Courier Company)'] = merged_data['Charged Weight']

In [24]:
# Calculate weight slab charged by Courier Company
merged_data['Weight Slabs (Courier Company)'] = merged_data['Total Weight (Courier Company)'].apply(lambda x: 0.25 if x <= 0.25 else 0.50 if x <= 0.50 else 0.75 if x <= 0.75 else 1.25 if x <= 1.25 else 1.50)

In [25]:
# Calculate expected charge as per X
# ... (calculate based on weight slab, delivery zone, and COD charges)
merged_data['Expected Charge'] = (merged_data['Weight Slabs'] * merged_data['Forward Fixed Charge']) + (merged_data['Weight Slabs'] * merged_data['Forward Additional Weight Slab Charge']) + (merged_data['RTO Additional Weight Slab Charge']) + merged_data['RTO Fixed Charge']

In [26]:
# Calculate charges billed by Courier Company
# ... (calculate forward charges, COD charges, total billed charges)
merged_data['Charges Billed'] = merged_data['Billing Amount (Rs.)']

In [30]:
# Calculate difference between expected and billed charges
merged_data['Difference'] =  merged_data['Charges Billed'] - merged_data['Expected Charge']

In [31]:
# Create resultant dataset
resultant_data = merged_data[['Order ID', 'AWB Code', 'Total Weight', 'Weight Slabs', 'Total Weight (Courier Company)', 'Weight Slabs (Courier Company)', 'Zone_x', 'Zone_y', 'Expected Charge', 'Charges Billed', 'Difference']]

In [33]:
# Export resultant dataset
resultant_data.to_csv('output_data.csv', index=False)

In [34]:
# Calculate total invoice amount for each category
correctly_charged_total = merged_data[merged_data['Expected Charge'] == merged_data['Charges Billed']]['Charges Billed'].sum()
overcharged_total = merged_data[merged_data['Expected Charge'] < merged_data['Charges Billed']]['Charges Billed'].sum() - correctly_charged_total
undercharged_total = merged_data[merged_data['Expected Charge'] > merged_data['Charges Billed']]['Charges Billed'].sum() - correctly_charged_total

# Calculate the count for each category
correctly_charged_count = merged_data[merged_data['Expected Charge'] == merged_data['Charges Billed']]['Order ID'].count()
overcharged_count = merged_data[merged_data['Expected Charge'] < merged_data['Charges Billed']]['Order ID'].count()
undercharged_count = merged_data[merged_data['Expected Charge'] > merged_data['Charges Billed']]['Order ID'].count()

# Create the summary table
summary_table = pd.DataFrame({
    'Category': ['Correctly Charged', 'Overcharged', 'Undercharged'],
    'Count': [correctly_charged_count, overcharged_count, undercharged_count],
    'Amount (Rs.)': [correctly_charged_total, overcharged_total, undercharged_total]
})

# Print the summary table
print(summary_table)

            Category  Count  Amount (Rs.)
0  Correctly Charged      0           0.0
1        Overcharged  59508     8237769.0
2       Undercharged  10266      537486.0